/*-------------------------------------------------------*/
/*                        Tags                           */
/*-------------------------------------------------------*/

body {
  letter-spacing: .4px;
  line-height: 25px;
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: #333
}

h1 {
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-bottom: 10px;
}

ul {
  margin-top: 10px;
}

strong {
  color: #352A56;
}

q {
  font-style: italic;
  display: block;
  margin: 1em 40px 0.1em 40px;
}

q:before {
    content: none;
}

a, a:visited {
  color: #66CD1B;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: #66CD1B;
}

a:active {
  background-color: #A8CD1B;
}

/*-------------------------------------------------------*/
/*                       Classes                         */
/*-------------------------------------------------------*/

.content {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.15em;
}

.content-head {
  font-size: 1em;
}

.row {
  padding-top: 150px;
  padding-bottom: 150px;
}

.row-head {
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 0px;
}

.purple {
  background-color: #352A56;
  color: #EEE;
}

.green {
  background-color: #80CD1B;
  color: black;
}

.light {
  background-color: #EEE;
  color: black;
}

.dark {
  background-color: #333;
  color: #EEE;
}

.python {
  color: #80CD1B;
}

.author {
  font-style: normal;
  text-align: right;
  display: block;
  margin-bottom: 10px;
}

.head-text {
    line-height: 25px;
}

.references {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}

.why {
  margin-top: 50px;
  text-align: right;
  font-size: 0.6em;
  line-height: 12px;
  text-decoration: none;
}

.me {
  max-width: 150px;
  border-radius: 15%;
}

/*-------------------------------------------------------*/
/*                       Medias                          */
/*-------------------------------------------------------*/

@media (min-width: 788px) {
  .content {
    max-width: 720px;
  }

  .head-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 20px;
  }

  .oneoftwo {
    width: 350px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
  }

  .oneoftwo-two {
    margin-left: 13px;
  }
}

@media (max-width: 787px) {
  .row {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .row-head {
    text-align: center;
    padding-top: 50px;
  }

  .content {
    margin-left: 4%;
    margin-right: 4%;
  }

  .content-head {
    padding: 0;
    margin: 0;
  }

  .head-text {
    margin-top: 25px;
  }

  .oneoftwo-two {
    padding-top: 35px;
  }
}        